APP_ORIGIN=https://commander-league-demo.jakobweber.chatgpt.site
OWNER_EMAIL=
RESEND_API_KEY=
MAIL_FROM=
SPREADSHEET_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
MAIL_PROVIDER=resend
GMAIL_SENDER=
GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_REFRESH_TOKEN=
